<%- include('../partials/header.ejs') %>
<div class="container">
  <ul style = "list-style:none">
  <% auctions.forEach(({id, title, details}) => { %>
    <div class="row">
      <div class="col-xs-5">
    <li>
      <h2 >
        <a style ="color: #837E7C" href="/<%= id %>">
        <img src="http://www.giantfreakinrobot.com/wp-content/uploads/2013/04/crystal-jellyfish-441.jpg" style="width:70px;height:50px;margin-right:10px;transform: rotate(20deg);">
      <%= title %></a>
    </h2>

    </li>
    </div>
  <div class="col-xs-2 col-xs-offset-3" style="margin-top:20px">
  <button class="fa fa-eye fa-2x" type="button" style="color:#afacae; background-color:black;border:none"></button>
</div>
  <div class="col-xs-2 pull-right center-block" style="margin-top:30px">
  <button class="btn btn-lg" type="button" name="button" style="padding:4px;color:ivory;background-color:#8e094c !important" onclick="window.location.href='/<%= id %>'" >Bid</button>

</div>
</div>
<hr>
  <% }) %>
</ul>

</div>
